aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.3.2
attrs==25.3.0
frozenlist==1.6.2
idna==3.10
iso8601==2.1.0
multidict==6.4.4
propcache==0.3.1
twitchio==2.10.0
typing_extensions==4.14.0
yarl==1.20.0
requests==2.32.4
configparser==5.3.0
sqlalchemy[asyncio]==2.0.30
asyncpg==0.29.0
alembic==1.13.1
